body {
    background-color: maroon;
}

*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

.navbar a {
    margin: 0px;
    padding: 20px 5%;
    top: 2%;
    position: fixed;
}

.navbar img{
    width: 170px;
}

.Home{
    display: flex;
}

.Home a {
    font-size: 16px;
    font-weight: 400;
    position: fixed;
    top: 20px;
    right: 50px;
    margin: 30px;
    background: transparent;
    color: antiquewhite;
    text-decoration: none;
}

.Home a:hover{
    border-bottom: 1px solid antiquewhite;
}

.icons{
    position: fixed;
    top: 50%;
    margin-left: 70px;
    padding: 0.9%;
    transform: translateY(-50%);
}

.icons a {
    color: antiquewhite;
    display: block;
    font-size: 20px;
    margin: 50px;
    
}

.icons a:hover {
    color: antiquewhite;
    transform:translateY(-5px);
    transition: all .50s ease;
    
}  
#bookingDetails {
   border: 1px solid antiquewhite;
   padding: 20px;
   border-radius: 5px;
   width: 400px; 
   height: 700px; 
   margin: 100px auto;
   font-family: "Poppins", sans-serif;
   color: antiquewhite;
   text-align: left;
}

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

h2 {
    font-size: 16px;
    margin-top: 65px;
    margin-bottom: -2%;
    font-family: "Poppins", sans-serif;
    text-decoration: underline;
}

p {
    font-size: 16px;
    font-weight: lighter;
}

.name {
    color: antiquewhite;
    margin-right: 5px;
    font-size: 15px;
    font-weight: lighter;
  }
  
.email {
    color: antiquewhite;
    margin-right: 5px;
    margin-top: -3%;
    font-size: 15px;
    font-weight: lighter;
  }
  
.position {
    color: antiquewhite;
    margin-right: 5px;
    margin-top: -3%;
    font-size: 15px;
    font-weight: lighter;
  }
  
.interviewType {
    color: antiquewhite;
    margin-right: 5px;
    margin-top: 8%;
    font-size: 15px;
    font-weight: lighter;
  }
  
.interviewDate {
    color: antiquewhite;
    margin-right: 5px;
    margin-top: -3%;
    font-size: 15px;
    font-weight: lighter;
  }
  
.selectedTime {
    color: antiquewhite;
    margin-right: 5px;
    margin-top: -3%;
    font-size: 15px;
    font-weight: lighter;
  }
  
@media (max-width: 768px) {
    .icons {
      display: none; 
    }
  }

  @media (max-width: 480px) {
    #bookingDetails {
      width: 20%; 
      margin: 3px auto; 
      padding: 10px; 
    }
  }


